<div class="row py-4">
  <div class="col-md-6">
    <div class="card">
      <img src="https://media.istockphoto.com/id/1316897145/vi/anh/quản-lý-châu-á-trung-quốc-có-cuộc-thảo-luận-tại-kho-với-hardhat-trắng-sử-dụng-máy-tính-bảng-kỹ.jpg?s=1024x1024&w=is&k=20&c=0Mk8jKaWeDuzs61QCaRh_UL0ENd1VbFOnfe8wlF8v_s=" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Categories</h5>
        <p class="card-text">Number of Categories: <span style="font-size: 20px; font-weight: 700"><%= count_category %></span> </p>
        <a href="/category" class="btn btn-primary">Manage categories</a>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <img src="https://media.istockphoto.com/id/168396361/vi/anh/mặt-trước-của-kho-và-kệ-hàng-hóa-xxxxxlarge.jpg?s=1024x1024&w=is&k=20&c=U2gmmdOJG6D_P0Jr1vaf7eI2T2H3RQxhxGN5tGGlY6Y=" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Items</h5>
        <p class="card-text">Number of Items: <span style="font-size: 20px; font-weight: 700"><%= count_item %></span></p>
        <a href="/item" class="btn btn-primary">Manage items</a>
      </div>
    </div>
  </div>
</div>